button hover {
    background-color: orange
}

* {
    font-family: 'Poppins', san-serif;
    background-color: #bfc224;
}

.first-class {
    background-color: rgb(233, 33, 33);
    color: white;
}

.second-class {
    background-color: rgb(94, 68, 68);
    color: white;
}

h1 {
    background-color: brown;
}

input[type=text] {
    background-color: #D3D3D3
}

input[type=number] {
    background-color: blue
}

button {
    background-color: green
}