* {
    font-family: 'Poppins';
    size: 14cm;
    color: rgb(86, 85, 92), white;
}

.logo {
    height: 40px;
}

#nav-computer {
    background-color: #563d7c;
    color: white;
}

#banner-computer {
    height: 100vh;
}

#banner-computer img {
    height: 350px;
    background-color: papayawhip;
}

.banner-computer-h1 {
    margin-top: 120px;
}

.btn {
    height: 35px;
    width: 150px;
    background-color: #563d7c;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

#banner-mobile {}

#banner-mobile img {
    height: 250px;
    margin-left: 30px;
}

#about {
    height: 100vh;
    background-color: #e4b5f5;
    color: rgb(44, 43, 43)
}

#about h2 {
    margin-top: 160px;
}

#about img {
    margin-top: 200px;
    height: 350px;
}

#contact img {
    height: 300px;
}

#nav-mobile {
    background-color: #a581da;
    color: white;
}

#daniel {
    background-color: #563d7c;
    color: white;
    height: 15vh;
}

#form-section {
    height: 80vh;
}
